body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

h4 {
  font-family: 'Open Sans', sans-serif;
}

h5 {
  font-family: 'Open Sans', sans-serif;
}
