body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

h2 {
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
}

h4 {
  font-family: 'Nunito', sans-serif;
}

h5 {
  font-family: 'Nunito', sans-serif;
}
