@import './common/vars.os.less';
@import './common/polyfill.os.less';
@import './common/typography.os.less';
@import './common/scrollbar.os.less';

#light {
  .@{ant-prefix}-row {
    display: flex;
    flex-flow: row wrap;
    &::before,
    &::after {
      display: flex;
    }
    &-no-wrap {
      flex-wrap: nowrap;
    }
  }
}

#light {
  @ant-prefix: sentre;
  @import './light.os.less';
  .@{ant-prefix}-hello {
    color: red;
  }
  body {
    background: url('../images/light-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
  }
}

#dark {
  // @import './dark.os.less';
  body {
    background: url('../images/dark-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
    background-attachment: fixed;
  }
}
