h1 {
  @media (max-width: 767.9px) {
    font-size: 30px;
  }
}

h2 {
  @media (max-width: 767.9px) {
    font-size: 24px;
  }
}

h3 {
  @media (max-width: 767.9px) {
    font-size: 20px;
  }
}

h4 {
  @media (max-width: 767.9px) {
    font-size: 16px;
  }
}

h5 {
  @media (max-width: 767.9px) {
    font-size: 14px;
  }
}
