/**
 * Available vars: https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
 */

@import '~antd/dist/antd.dark.less';
@import './common/vars.less';

// Colors
@primary-color: @PRIMARY;
@info-color: @INFO;
@success-color: @SUCCESS;
@warning-color: @WARNING;
@error-color: @ERROR;
@popover-background: @NEUTRAL100;
@body-background: @NEUTRAL100;
@component-background: @NEUTRAL100;
@disabled-bg: @NEUTRAL90;

// Typography
@font-family: 'Nunito', sans-serif;
@text-color: @NEUTRAL05;
@text-color-secondary: @NEUTRAL40;
@heading-color: @NEUTRAL05;
@disabled-color: @NEUTRAL40;
@typography-title-margin-top: 0px;
@typography-title-margin-bottom: 0px;

// Border
@border-radius-base: 3.33594px;
@border-color-base: @NEUTRAL80;
@border-width-base: 1px;
@border-color-split: @border-color-base;
@popover-customize-border-color: @border-color-base;

// Card
@card-radius: @border-radius-base * 3;
@card-actions-background: @NEUTRAL100;
@card-background: @NEUTRAL90;
@card-shadow: @DARK_SHADOW2;
@card-padding-base: 16px;

// Modal
@modal-header-bg: @NEUTRAL90;
@modal-content-bg: @NEUTRAL90;
@modal-footer-bg: @NEUTRAL90;
@modal-footer-padding-horizontal: 24px;
@modal-header-padding: 16px 24px 8px 24px;

// Drawer
@drawer-bg: @NEUTRAL100;

// Button
@btn-font-weight: 700;
@btn-shadow: unset;
@btn-primary-shadow: unset;
@btn-text-shadow: unset;
@btn-default-border: @NEUTRAL80;
// @btn-default-ghost-color: @NEUTRAL10;
@btn-default-ghost-border: @PRIMARY;
@btn-primary-color: #081438;
@btn-disable-color: @NEUTRAL60;
@btn-disable-bg: @NEUTRAL80;
@btn-default-ghost-color: @primary-color;
@btn-default-ghost-border: @primary-color;
@btn-border-radius-base: 3.33594px;
@btn-disable-border: @BORDER_COLOR_BASE;

// Input
@input-placeholder-color: @NEUTRAL40;

// Typography
// ---
@typography-title-font-weight: 700;

// Divider
@divider-color: @NEUTRAL80;
@divider-orientation-margin: 0;
@divider-vertical-gutter: 0;

// Checkbox
@checkbox-border-radius: @border-radius-base - 4;

// Patch
.@{ant-prefix}-layout {
  background: unset;
}
.@{ant-prefix}-card {
  box-shadow: @DARK_SHADOW1;
  .glass {
    background-color: color(~`('@{card-background}99') `);
    backdrop-filter: blur(4px);
  }
}

//Table
@table-bg: @TRANSPARENT;
